## Build artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio temp files
.vs/
*.tmp
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## NuGet
packages/
*.nupkg
*.snupkg
!packages/build/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## IDE
.vscode/
.idea/
*.swp
*~
